$primaryColor: #ad1457;
$boxShawowStyle: rgba(0, 0, 0, 0.3);
@mixin standardPadding($multiple) {
  padding: 8px * $multiple;
}

body {
  background: #eee;
}

#main {
  @include standardPadding(0);
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  h1 {
    columns: #444;
    text-align: center;
  }
}

#book-list {
  padding: 0;
  li {
    display: inline-block;
    margin: 12px;
    @include standardPadding(2);
    border-radius: 4px;
    border: 1px solid $primaryColor;
    box-shadow: 1px 2px 3px $boxShawowStyle;
    cursor: pointer;
    color: $primaryColor;
    &:hover {
      background-color: $primaryColor;
      color: #fff;
    }
  }
}

form {
  background: #fff;
  @include standardPadding(2);
  position: fixed;
  left: 0;
  width: 400px;
  .field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  label {
    text-align: right;
    @include standardPadding(1);
  }
  select {
    margin: 4px;
    @include standardPadding(1);
    box-sizing: border-box;
  }
  input {
    margin: 4px;
    @include standardPadding(1);
    box-sizing: border-box;
  }
  button {
    color: #fff;
    background: $primaryColor;
    border: 0;
    cursor: pointer;
  }
}

#book-detail {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: $primaryColor;
  @include standardPadding(4);
  overflow: auto;
  box-shadow: -2px -3px 5px $boxShawowStyle;
  box-sizing: border-box;
  color: #fff;
}
